body {
  background-color: DimGray;
}

h1 {
  color: DeepSkyBlue;
  text-align: center;
  font-size: 50px;
  font-family: 'Garamond', serif;
}

h2 {
  color: DeepSkyBlue;
  text-align: left;
  margin-top: 140px;
  margin-left: 600px;
  font-size: 30px;
  font-family: 'Garamond', serif;
}

p {
  color: DeepSkyBlue;
  width: 1200px;
  height: 60px;
  margin-left: 600px;
  margin-top: 10px;
  text-align: left;
  font-size: 20px;
  font-family: 'Garamond', serif;
  line-height: 1.6;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: SlateGray;
  overflow-x: hidden;
  padding-top: 60px;
}

.sidenav a {
  padding: 16px 2px 24px 36px;
  text-decoration: none;
  font-size: 24px;
  color: LightBlue;
  display: block;
  font-family: 'Garamond', serif;
}


.floatRight{float:right;margin-right:1690px;margin-bottom:50px;}
.floatLeft{float:right;margin-right:1300px;margin-bottom:50px;}
.floatLeft2{float:right;margin-right:1175px;margin-bottom:50px;}
.floatLeft3{float:right;margin-right:1431px;margin-bottom:50px;}
